<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Metrodata Fest</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="_csrf" th:content="${_csrf.token}" />
    <meta name="_csrf_header" th:content="${_csrf.headerName}" />
        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
           
            <link href='https://fonts.googleapis.com/css?family=DM Sans' rel='stylesheet'>
            <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
            <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Poly" />
        <!-- DataTables CSS -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.css">
    <link rel="stylesheet" href="css/style.css">

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>




    <body>
        <!-- COVER dan NAVIGATION BAR -->
        <div class="first-fold">
        <nav id = "navbar" class="navbar navbar-expand-lg navbar-light" style="background: -webkit-linear-gradient(#4F22BB, transparent) 50%;
         color:white">
            <div class="container-fluid">
                <a class="navbar-brand fw-bolder" href="#" 
                style="color:white;font-family:'Poppins';
                font-style: normal;font-weight: 800;
                font-size: 28.5px;line-height: 43px;">
                    <img src="../icon/saxophone.png"
                    width="25" height="25" alt=" ">&nbsp;MetrodataFest 
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="nav justify-content-end" >
                        <a class="nav-link" th:href="@{/home}">Home</a>
                        <a class="nav-link" th:href="@{/tickets}">Ticket</a>
                        <a class="nav-link" th:href="@{/lineup}">Line Up</a>
                        <a class="nav-link" th:href="@{/news}">News</a>
                        <a class="nav-link" th:href="@{/faqs}">FAQ</a>
                        <a class="nav-link" th:href="#footer">About Us</a>
                        <a class="nav-link" th:href="@{/profile}">
                            <button class="button-login">
                            &nbsp;&nbsp;&nbsp;Login&nbsp;&nbsp;&nbsp;</button></a>
                            </div>
                
            </div>
        </div>
    </nav>
    <div class='a-festival-by' ><br><br><br><br><br>
        a festival by</div>
        
    <div class="metrodata-academy">
        <img src="../icon/logoMetrodata 1.png"
        width="64" height="56" alt="">
        METRODATA ACADEMY<br><br>
    </div>

    <div class="metrodata-fest">
        <img src="../icon/saxophone.png"
                    width="75" height="75" alt=" ">&nbsp;MetrodataFest 
    </div>
    <div class="date">
        11-12 Februari 2023
    </div>
    <div class="dua-tombol">
        <button class="tombol-get-ticket">Get Ticket</button>
        <button class="tombol-faq">FAQ</button>
    </div>
    
</div>
<!-- END OF COVER & NAVBAR -->


<!-- TIKET UNTUK HOME PAGE -->
<div style="position: relative;text-align: center;">
    <img src="../css/segitiga.png" style="width:100%">
    <div class="lineup-top"><br>Ticket</div>
</div>
<div style="text-align:center;">
    <img style="margin-top:30px;margin-bottom: 30px;" th:src ="${tickets.image}" usemap="#workmap">
    <!-- <img style="margin-top:30px;margin-bottom: 30px;" src ="../icon/pre1 rev.png" usemap="#workmap"> -->
    <!-- <img style="margin-top:30px;margin-bottom: 30px;" src ="../icon/pre2 rev.png" usemap="#workmap">
    <img style="margin-top:30px;margin-bottom: 30px;" src ="../icon/pre3 rev.png" usemap="#workmap">
    <img style="margin-top:30px;margin-bottom: 30px;" src="../icon/daily1 rev.png" usemap="#workmap">
    <img style="margin-top:30px;margin-bottom: 30px;" src="../icon/daily2 rev.png" usemap="#workmap">
    <img style="margin-top:30px;margin-bottom: 30px;" src="../icon/vip rev.png" usemap="#workmap"> --> -->

    <map name="workmap">
        <area shape="rect" coords="0,315.59,270,379" href="dummy.html">
    </map>
</div>
<!-- END OF TIKET -->



<!-- LINEUP UNTUK HOME PAGE -->
<div style="position: relative;text-align: center;">
    <img src="../css/segitiga.png">
    <div class="lineup-top"><br>Line Up</div>
</div>

<!-- <div class="lineup">Day 1<br> -->
<div class="lineup"><br>
    <img style="margin-top:20px;margin-bottom: 20px;" src="../icon/tulus.png">
    <img style="margin-top:20px;margin-bottom: 20px;" src="../icon/hindia.png">
    <img style="margin-top:20px;margin-bottom: 20px;" src="../icon/pamungkas.png">
    
</div>
<div class="learn">
<a href='lineup/index.html'><button style="border:solid 2px" class="learn-more" >Show more</button></a>
</div>
<!-- 
<div class="lineup">Day 2<br>
    <img style="margin-top:20px;margin-bottom: 20px;" src="../icon/nadin.png">
    <img style="margin-top:20px;margin-bottom: 20px;" src="../icon/reality.png">
    <img style="margin-top:20px;margin-bottom: 20px;" src="../icon/kunto.png">
    
</div>
<div class="learn">
    <a href='lineup/index.html'><button style="border:solid 2px" class="learn-more" href="lineup/index.html">Show more</button></a>
</div> -->

<div style="position: relative;text-align: center;">
    <img src="../css/segitiga2.png" style="width:100%">
</div>
<!-- END OF LINEUP -->




<!-- NEWS UNTUK HOME PAGE -->
<div class="news">
    <a style="color:#242565;font-family:'Poppins';font-weight:bold; font-size: 40px;">News<br></a>
    <div class="news-inner">
        <img src="../icon/rules.png">
        <br><br><h1 class="news-title"
        >Do's and Dont's in Metrodata Fest 2022</h1><br>
        <br><p class="news-desc"
        >Before you attend the Metrodata Fest, make sure you folllow this rules down below.</p><br>
        <p class="news-maker"
        >10 Des - Admin</p><br>
    </div>

    <div class="news-inner">
        <img src="../icon/rules.png">
        <br><br><h1 class="news-title"
        >Do's and Dont's in Metrodata Fest 2022
        </h1><br>
        <br><p class="news-desc"
        >Before you attend the Metrodata Fest, make sure you folllow this rules down below.</p><br>
        <p class="news-maker"
        >10 Des - Admin</p><br>
    </div>

    <div class="news-inner">
        <img src="../icon/rules.png">
        <br><br><h1 class="news-title"
        >Do's and Dont's in Metrodata Fest 2022</h1><br>
        <br><p class="news-desc"
        >Before you attend the Metrodata Fest, make sure you folllow this rules down below.</p><br>
        <p class="news-maker"
        >10 Des - Admin</p><br>
    </div>

</div>

</div>
<div class="learn">
    <a href='news/index.html'><button style="border:solid 2px" class="learn-more">Learn more</button></a>
</div>


<!-- END OF NEWS -->

<div style="position: relative;text-align: center;">
    <img src="../css/segitiga2.png" style="width:100%">
</div>

<!-- FAQ at HOME PAGE -->

    <div style="color:#242565;font-family:'Poppins';font-weight:bold; font-size: 40px;
    text-align: center;"
    >Frequently Asked Questions (FAQ) <br><br>
</div>
    <div class="nav justify-content-end" >
    <form class="search-bar">
        <input type="search" placeholder="Search for keyword.." 
        name="search" >
        <button type="submit">
            <!-- <img src="C:\Users\khali\Documents\KULIAH\SMT 5\Full Stack Developer (MBKM)\Final Project\metrodatafest-frontend\frontend\src\main\resources\static\icon\search.png"> -->
        </button>
    </form>
    </div>

<div class="qna-bar">
    <div class="question">
        Berapa lama festival MetrodataFest berlangsung?
    </div>
    <div class="answer">
        Festival MetroadataFest berlangsung selama 2 hari, tanggal 11-12 Februari 2023.
    </div>
    <div class="question">
        Apakah festival diperbolehkan untuk semua umur?
    </div>
    <div class="answer">
        Ya, Festival terbuka bagi semua umur.
    </div>
</div>

</div>
<div class="learn"><br>
    <a href='faqs/index.html'><button style="border:solid 2px" class="learn-more">Learn more</button></a>
</div>

<!-- END OF FAQ -->

<!-- FOOTER -->
<div id="footer" class="footer">
    <div class="profile">
        <div style=" font-size: 24px; 
            font-family: 'Poppins'; font-weight: bold;">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <img src="../icon/saxophone.png"
            width="20" height="20">&nbsp;MetrodataFest&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>
        </div>
        <p class="footer-desc"><br>
            Festival Event by Metrodata Academy. 
            This webpage is only a 
            dummy for web development project assignment. <br>
        </p>
        <div style="text-align:center;border-left:10px;border-right: 10px;">
            <a href=""><img src="../icon/facebook.png"></a>
            <a href=""><img src="../icon/twitter.png"></a>
            <a href="../icon/ig.png"></a>
        </div>
    </div>

    <hr style="color:white;
    background-color:white;
    margin-left:50px;margin-right: 50px;
    margin-bottom:15px;height:2px;border-width: 0;">
    <div style="
    font-family:'Poppins';font-size:14px;color:#FEFEFE">
        Copyright © 2022 Metrodata Fest
    <br></div>
</div>
<!-- END OF FOOTRER -->



        <!-- JQuery CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"
    integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
</script>

<!-- JS DataTables CDN -->
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.js">
</script>

<!-- SweetAlert2 CDN -->
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script src="../js/home.js"></script>
    </body>
</html>
